<%- include('./includes/head.ejs') %>
</head>

<body>
  <form action="/users" method="POST">
    <label for="userName">Nome do usuario</label>
    <input type="text" name="userName" id="userName">
    <button type="submit">Cadastrar</button>
  </form>
</body>